################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages-microsoft-prod.deb
.vs
.vs*
.vscode
.idea
bin/
obj/
Backup
UpgradeLog.htm
out/
